@import "vars";
@import "layout";
@import "bootstrap-5.3.0-alpha1/scss/bootstrap.scss";

/* Custom Styles */

.site-title {
  font-size: 40px;
}

.banner-image {
  background-image: url(../images/akiak_satchel_1.png);
  background-position: 39% 50%;
  background-size: cover;
  min-height: 65vh;
  height: 65%;
}
