@import "vars";
@import "layout";
@import "about";
@import "posts";
@import "bootstrap-5.3.0-alpha1/scss/bootstrap.scss";

/* Custom Styles */

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}


.site-title {
  font-size: 40px;
  font-weight: 600;
}

.banner-image {
  background-image: url(../images/akiaks_satchel_cover_base_image.png);
  background-position: 1% 60%;
  background-size: cover;
  min-height: 65vh;
  height: 65%;
}

.social-media {
  font-size: 27px;
  margin: 0 auto;
  a { 
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $gray-500;
    }
  }
}

.onwards-anthology-cover {
  width: 60%;
}

.onwards-logo {
  width: 60px;
}

.onwards-site-title {
  font-size: 32px;
}

@include media-breakpoint-down(sm) {
  .onwards-site-title {
    padding-top: 14px;
    font-size: 23px;
  }
}
