@import "vars";
@import "layout";
@import "bootstrap-5.3.0-alpha1/scss/bootstrap.scss";

/* Custom Styles */

.site-title {
  font-size: 40px;
}

.jumbotron {
  background-image: url(../images/jumbotron.jpg);
  background-position: 34% 10%;
  min-height: 50vh;
  height: 50%;
}
