/* Custom Variables */

$primary: red;
$font-family-monospace:   "LXGW WenKai TC", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-monospace !default;



